
.hopper {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  transition: top 450ms linear, left 450ms linear, opacity 450ms linear;
}

.hopper--riding, .hopper--riding > * {
  transition-duration: 500ms;
}