.tile {
  display: inline-block;
  border: solid 1px rgba(255, 255, 255, .2);
  width: calc(80px * 1.5);
  height: calc(60px * 1.5);
  z-index: 1;
}

.tile__ground--grass {
  background-color: green;
}

.tile__ground--water {
  background-color: lightblue;
}

.tile__ground--road {
  background-color: gray;
}