.bell {
  width: calc(40px * 1.5);
  height: calc(30px * 1.5);
  transition: transform 0.15s ease;
}

.bell--west {
  transform: rotate(-90deg);
}

.bell--south {
  transform: rotate(180deg);
}

.bell--east {
  transform: rotate(90deg);
}

.ana {
  margin-top: -10px;
  width: calc(40px * 1.5);
  height: calc(40px * 1.5);
  transition: transform 0.15s ease;
}

.ana--west {
  transform: rotate(-90deg);
}

.ana--south {
  transform: rotate(180deg);
}

.ana--east {
  transform: rotate(90deg);
}

